
.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.infoContainer {
    display: flex;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    font-family: "Lora", serif;
}


.shippingInfo {
    border: 1px solid blue;
    width: 60%;
}

.orderSummary {
    border: 1px solid green;
    /* width: 40%; */
}