
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.infoContainer {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
    align-self:flex-start;
    font-size: 3rem;
    font-family: "Lora", serif;
}

.subheading {
    font-family: "Lora", serif;
    margin-bottom: 20px;
}

.shippingInfo {
    /* border: 1px solid blue; */
    width: 60%;
}

.orderSummary {
    /* font-weight: 800; */
}

.cartItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cartItem > h3,
.price {
    font-weight: 400;
}

.cartItemBottom {
    display: flex;
    align-items: center;
}

.shopLink {
    color: #6366f1 !important;
}