.buttonContainer {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-around;
}

.buttonContainer input {
  width: 50px;
}

input,
button {
  padding: 0.25rem;
  border: 1px solid lightgray;
}

input {
  text-align: end;
}

.quantity button {
  background-color: lightgrey;
}

.leftButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.rightButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.leftButton:active,
.rightButton:active {
  background-color: grey;
}

button[type="submit"]:active {
  background-color: #4f51d1;
}
